body
{
	font-family:'Oswald', sans-serif;
	background-color: #F2F3F4
}

.center
{
	background-color: #2285c7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 400px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFFFFF;
}

.calculator
{
	background-color: #F8F9F9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 400px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#calculate
{
	background-color: #c51d25;
	color: #FFFFFF;
}
